@model IEnumerable<PI_SearchfoodF.MVC.DAL.tbIncidencia_Comentarios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbEstado_Incidencia.EstdDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbIncidencia.primer_nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbEstado_Incidencia.EstdDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbIncidencia.primer_nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_ICom }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_ICom }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_ICom })
        </td>
    </tr>
}

</table>
